@model Infrastruction.DomainObjects.Car

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Car</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CarName)
        </dt>

        <dd>
            
            @Html.Label(Model.CarName, new {@class = "edit"})
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CarId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
@section Scripts {
<script src="http://www.appelsiini.net/download/jquery.jeditable.js"></script>
<script>
    $(document).ready(function () {
        $('.edit').editable(function (value, settings) {
            $.ajax({
                url: '@Url.Action("Update")',
                data: document.body
            });
            console.log(this);
            console.log(value);
            console.log(settings);
            return (value);
        }, {
            type: 'textarea',
            submit: 'OK',
        });
    });
</script>
}

