@model IEnumerable<Infrastruction.DomainObjects.Car>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<script>
    function SendCheckedCar(carId) {
        $.ajax({
            url: "@Url.Action("CheckCar")",
            method: "POST",
            data:carId
        }).done(function () {
            $(this).addClass("done");
        });
    }
</script>

<p>
    @Html.ActionLink("Create New", "Create") <br/>
    @Html.ActionLink("Print version", "Index", new {id="print" }) <br />
</p>
@using (Ajax.BeginForm("FindCars", new AjaxOptions
{
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "update",
    LoadingElementId = "loader"
}))
{
    @Html.TextBox("carType")
    <input type="submit" value="Search" />
}

@* ... *@
<div id="loader" class=" aletr" style="display:none">
    Loading...
</div>
<div id="update">
 @Html.Partial("ListCarView", Model)   
</div>
